---
title: "About Me"
name: "miki"
bio: "Building the Vercel & Notion for AI media"
twitter: "@miki_code"
github: "https://github.com/0xmiki"
---


<script lang="ts">
  import Hover from '$lib/components/hover.svelte';
</script>
<div class="prose dark:prose-invert prose-neutral">
  <ul>
    <li>21 yo</li>
    <li>e/acc maxi</li>
    <li>agi will not happen (unless I build it)</li>
    <li>llm engineering = applied alchemy</li>
    <li>believer in spontaneous creativity</li>
    <li>currently building the "vercel" and the "cursor" for AI generated media</li>
  </ul>
</div>
